<h1>Прогнозирование</h1>
<button mat-button (click)="getHistorySensors()" style="border: 1px solid gray">Получить прогноз</button>
<mat-progress-bar *ngIf="spinner" [mode]="'indeterminate'" [color]="'primary'"></mat-progress-bar>
<!--<ng-container>-->
<!--  <h1>Прогноз</h1>-->
<!--  <button mat-button (click)="getSensors()">Получить датчики</button>-->
<!--</ng-container>-->

<!--<ng-container *ngIf="sensors; then showSensors"></ng-container>-->

<!--<ng-template #showSensors>-->
<!--  <p-table [value]="sensors" styleClass="dark-theme">-->
<!--    <ng-template pTemplate="header">-->
<!--      <tr>-->
<!--        <td>Адрес</td>-->
<!--        <td>Датчики</td>-->
<!--        <td></td>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="body" let-sensor>-->
<!--      <tr>-->
<!--        <td>{{sensor.location}}</td>-->
<!--        <th *ngFor="let _sensors of sensor.sensors; let i=index" style="float: left;">-->
<!--          <div>-->
<!--            {{i+1}}. {{_sensors.value}} {{_sensors.unit}}-->
<!--            <button-->
<!--              mat-button-->
<!--              style="border: 1px solid gray"-->
<!--              (click)="getDiagram(_sensors.id)"-->
<!--            >Получить прогноз</button>-->
<!--          </div>-->
<!--        </th>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--  </p-table>-->
<!--</ng-template>-->

